.albumImage {
  max-width: 70px;
  max-height: 70px;
}

@media screen and (max-width: 1000px) {
  .albumImage {
    max-width: 50px;
    max-height: 50px;
  }
}

.table {
  table-layout: auto;
  width: 80% !important;
}

.tableContainer {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.tableCell {
  width: 200px;
}
.caption {
  color: white;
}

/* Mobile screen users */
@media screen and (max-width: 1000px) {
  .albumImage {
    max-width: 50px;
    max-height: 50px;
  }
  .tableContainer {
    margin-left: unset;
    margin-right: unset;
  }
  .card {
    flex-direction: unset;
  }

  .table {
    table-layout: auto;
    width: 100% !important;
  }
}

td {
  vertical-align: middle !important;
}
